body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
.product-card img {
  height: 200px;
  object-fit: cover;
}
#banner {
  height: 500px;
  background-image: url(../../asset/image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}   
#img-about {
  height: 400px;
  object-fit: cover;
}